<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUsersService" />
                <binding name="WSHttpBinding_IAuthService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60742/UsersService.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUsersService"
                contract="UsersServiceReference.IUsersService" name="WSHttpBinding_IUsersService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60742/AuthService.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
                contract="AuthServiceReference.IAuthService" name="WSHttpBinding_IAuthService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60742/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerServiceReference.ICustomerService" name="BasicHttpBinding_ICustomerService" />
        </client>
    </system.serviceModel>
</configuration>