<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomerService" />
                <binding name="BasicHttpBinding_IReserversionsService" />
                <binding name="BasicHttpBinding_IRoomsService" />
                <binding name="BasicHttpBinding_IUsersService">
                    <security mode="None">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAuthService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60742/AuthService.svc/username"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAuthService"
                contract="AuthServiceReference.IAuthService" name="WSHttpBinding_IAuthService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60742/CustomerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerServiceReference.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:60742/ReserversionsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReserversionsService"
                contract="ReserversionsServiceReference.IReserversionsService"
                name="BasicHttpBinding_IReserversionsService" />
            <endpoint address="http://localhost:60742/RoomsService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRoomsService" contract="RoomsServiceReference.IRoomsService"
                name="BasicHttpBinding_IRoomsService" />
            <endpoint address="http://localhost:60742/UsersService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUsersService" contract="UsersServiceReference.IUsersService"
                name="BasicHttpBinding_IUsersService" />
        </client>
    </system.serviceModel>
</configuration>